.modify {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #e8fcfc;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    width: 400px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}

.modifyBtns {
    display: flex;
    flex-direction: row;
}

.modifyPageBtn {
    font-weight: bold;
    margin: 5%;
    width: 70px;
    min-height: 30px;
    background-color: #00eeff;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}

.modifyPageBtn:hover {
    cursor: pointer;
}
